* { box-sizing: border-box; margin: 0; padding: 0; }

:root {
    --main-font: "Manrope", sans-serif;
}


body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0f1011;
}

header {
    height: 65px;
    background: #1a1c1d;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

nav a.btn {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 6px 1px #dd06cb00;
    font-family: var(--main-font);
    transition: background 0.5s, color 0.5s;
}

nav a.btn:hover {
    background: #db65d517;
    color: #ffd1fd;
}

nav a.btn.active {
    background: #db65d55d;
    color: #fdd2fc;
}

.logo img {
    height: 55px;
    width: auto;
    padding: 0.20rem 0;
}

main {
    font-family: var(--main-font);
    color: #fafafa;
    padding: 3rem;
}

main h1.hometitle {
    font-size: 4.0rem;
    line-height: 4rem;
    margin-top: 1.8rem;
}

main p.title_subtext {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

main img.softwaremanager-image {
    margin-top: 0rem;
    user-select: none;
}

main .introduction-text {
    position: relative;
    text-align: right;
    margin-right: -3rem;
    margin-top: 3rem;
    z-index: 2;
    user-select: none;
}

.introduction-image {
    position: relative;
    z-index: 1;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

main .introduction {
    text-align: center;
    position: relative;
    font-size: 0
}

main .introduction > * {
    font-size: 1rem;
}


main .btn_big {
    font-family: var(--main-font);
    background: #1a1c1d;
    padding: 0.7rem 1.4rem;  
    margin-top: 1.5rem;
    border: none;
    border-radius: 10px;
    align-items: center;
    display: inline-flex;
    color: #fafafa;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
}

main .btn_big img {
    height: 20px;
    width: auto;
    margin-right: 0.5rem;
}

main .btn_big.github {
    margin-right: 1rem;
}

main .btn_big.download {
    background: #ca62c5;
    color: #0f1011;
}

main .introduction-text h1,
main .introduction-text p {
    user-select: text;
}

.softwaremanager-image {
    pointer-events: none; 
}

footer {
    color: #585858;
    font-family: var(--main-font);
    align-self: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    user-select: none;
}

::selection {
    background: #db65d528;
}