* { box-sizing: border-box; margin: 0; padding: 0; }

:root {
    --main-font: "Manrope", sans-serif;
}


body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0f1011;
}

header {
    height: 65px;
    background: #1a1c1d;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.btn {
    display: inline-block;
    background: #dd06cb00;
    padding: 0.4rem 0.8rem;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 6px 1px #dd06cb00;
    font-family: var(--main-font);
    transition: background 0.5s, color 0.5s;
}

nav a.btn:hover {
    background: #db65d517;
    color: #ffd1fd;
}

nav a.btn.active {
    background: #db65d55d;
    color: #fdd2fc;
}

.logo img {
    height: 55px;
    width: auto;
    padding: 0.20rem 0;
}

main {
    font-family: var(--main-font);
    color: #fafafa;
    padding: 3rem;
}

main h1.title {
    font-size: 3.0rem;
    line-height: 3rem;
    margin-top: 1.8rem;
}

main p.title_subtext {
    margin-top: 0.5rem;
}

main img.softwaremanager-image {
    margin-top: 2rem;;
}

.inline-block {
    display: inline;
}

main .introduction {
    text-align: center;
}

footer {
    color: #585858;
    font-family: var(--main-font);
    align-self: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
}